NEXT_PUBLIC_SITE_URL=https://fluent-too.com
NEXT_PUBLIC_ASSET_BASE_URL=https://cdn.fluent-too.com
STRAPI_INTERNAL_URL=https://api.fluent-too.com
STRAPI_PUBLIC_URL=https://api.fluent-too.com
AUTH_COOKIE_SECURE=true
FRONTEND_URL=https://fluent-too.com
MAILPIT_URL=
