NEXT_PUBLIC_SITE_URL=https://dev.fluent-too.com
NEXT_PUBLIC_ASSET_BASE_URL=https://cdn-dev.fluent-too.com
STRAPI_INTERNAL_URL=https://api-dev.fluent-too.com
STRAPI_PUBLIC_URL=https://api-dev.fluent-too.com
AUTH_COOKIE_SECURE=true
FRONTEND_URL=https://dev.fluent-too.com
MAILPIT_URL=
REDIS_URL=redis://redis:6379
